.header {
    text-align: center;
}

.recipe-container {
    display: flex;
    justify-content: space-around;
}

.recipe-img {
    width: 350px;
    height: 250px;
    border-radius: 10px;
}

.btn {
    border: none;
    border-radius: 10px;
    font-size: large;
    padding: 10px;
}